@page "/swag"

<div class="container">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-md-left text-center">
                <div class="box h-100 d-flex justify-content-end flex-column">
                    <h3>.NET Conf 2020, Nov 10-12</h3>
                </div>
            </div>
            <div class="col-md-6 text-md-right text-center">
            </div>
        </div>
    </div>

    <main role="main" class="pb-3">


        <div class="text-center">
            <h2>Free digital swag</h2>
        </div>
        <div class="text-body">
            <p>
                Have fun with these free digital swag items. Show them off on Twitter using <a href="https://twitter.com/search?q=%23dotnetlovesme" target="_blank">#dotNETLovesMe</a>!
            </p>
            <ul>
                <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/MainEvent/DigitalSWAG/Wallpapers" target="_blank">Wallpapers</a> for your desktop, phone and watch</li>
                <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/MainEvent/DigitalSWAG/3D" target="_blank">3D printable designs</a></li>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=dotnetconfteam.dotnet-purple-theme" target="_blank">.NET purple theme</a> for Visual Studio Code</li>
                <li>Create your own coding companion by building your own custom dotnet-bot at <a href="https://mod-dotnet-bot.net" target="_blank">mod-dotnet-bot.net</a></li>
            </ul>
            <br>
        </div>
        <div class="row padded">
            <div class="col text-center">
                <img class="img-fluid" src="/img/world-of-dotnet.svg" alt="Swag" width="700">
            </div>
        </div>


    </main>
</div>

@code {

}
